<div class="row">
    <div class="col-md-12">
        <h2>Bounces</h2>
        {{view Postman.MultiLineChart contentBinding=bounces}}
    </div>
    <div class="col-md-12">
        <h2>Delivered</h2>
        {{view Postman.MultiLineChart contentBinding=delivered}}
    </div>
    <div class="col-md-12">
        <h2>Opens</h2>
        {{view Postman.MultiLineChart contentBinding=open}}
    </div>
    <div class="col-md-12">
        <h2>Clicks</h2>
        {{view Postman.MultiLineChart contentBinding=click}}
    </div>
    <div class="col-md-12">
        <h2>Dropped</h2>
        {{view Postman.MultiLineChart contentBinding=dropped}}
    </div>
</div>
