<div class="row">
    <div class="col-md-12">
        <h1>Stats</h1>
    </div>
    {{#if categories.length }}
        <div class="col-md-12">
            <div class="form-group">
                {{ view Ember.Select
                        content=categories
                        value=selectedCategory
                        optionValuePath="content.url_param"
                        optionLabelPath="content.name"
                        class="form-control"
                        prompt="Filter by mail type"
                }}
            </div>
            <div class="form-group">
                <button {{action "filter"}} class="btn btn-block btn-primary">Filter</button>
            </div>
        </div>
    {{/if}}
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Summary</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="well text-center">
            <h3 class="text-primary">{{view Postman.OdometerView contentBinding=delivered_percent}}%</h3>
            <p class="lead">Delivered</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="well text-center">
            <h3 class="text-primary">{{view Postman.OdometerView contentBinding=opened_percent}}%</h3>
            <p class="lead">Opened</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="well text-center">
            <h3 class="text-primary">{{view Postman.OdometerView contentBinding=bounced_percent}}%</h3>
            <p class="lead">Bounced</p>
        </div>
    </div>
</div>

{{outlet}}
