<header>
    <h1>Postman</a>
</header>

<div class="pure-g">
    <div class="pure-u-1">
        <strong>Number of events:</strong>
        {{ model }}
        <br>
        <form class="pure-form">
            {{input value=email placeholder='email address'}}

            {{view Ember.Select content=categories selection=selected_category }}

            <button {{action 'search'}} class="pure-button">Search</button>
        </form>
    </div>
    <div class="pure-u-1">
        {{outlet}}
    </div>
    <div class="pure-u-1" id="signin">
        <a href="/signout" class="pure-button">Sign out</a>
    </div>
</div>

