email.
<h1>{{ email }}</h1>
<span>{{ number_of_events }}</span> events!{{#if loading}} loading...{{/if}}

<table>
  <th>
    <td>type</td>
    <td>category</td>
    <td>ip</td>
    <td>timestamp</td>
  </th>
  {{#each events}}
    <tr>
      <td>{{event}}</td>
      <td>{{category}}</td>
      <td>{{ip}}</td>
      <td>{{timestamp}}</td>
    </tr>
  {{/each}}
</table>


{{outlet}}
